/******************************************
-------------------------------------------
 			    All Pages 
-------------------------------------------
*******************************************/

body {
	margin:0;
	background:#0d0d0d;
}

#main-background {
	background:#ceba7e;
}

h2 {
	font-size:1.8em;
	font-family: 'oswald', serif;
	margin:35px;
	position:relative;
	text-align:left;
}

h3 {
	font-size:1.8em;
	font-family: 'oswald', serif;
	margin:20px 0 20px 10px;
	position:relative;
}

.header-tag::after {
	content: "";
	position:absolute;
	bottom:-13px;
	left:0;
	height:3px;
	width:45%;
	background-image: linear-gradient(to right, black, transparent);
}

p {
	margin:2px 0;
}


.main-container {
	max-width:1100px;
	margin:0 auto;
}

.main-container div {
	font-family: 'oswald', serif;
}

#main-home-container {
	opacity:1;
	-moz-transition:opacity 300ms ease-out;
	-webkit-transition:opacity 300ms ease-out;
	-o-transition:opacity 300ms ease-out;
	-ms-transition:opacity 300ms ease-out;
	transition:opacity 300ms ease-out;
}

.theme-button {
	font-size:1.2em;
	padding:10px;
	background:black;
	color:#ceba7e;
	border-radius:2px;
	display:inline-block;
	width:500px;
	-moz-transition:all 200ms ease-out;
	-webkit-transition:all 200ms ease-out;
	-o-transition:all 200ms ease-out;
	-ms-transition:all 200ms ease-out;
	transition:all 200ms ease-out;
	cursor:pointer;
	margin:25px auto;
}

.theme-button:hover {
	color:white;
}

@font-face {
	font-family: 'oswald';
	src: url("../fonts/oswald.ttf") format('truetype'),
		url("../fonts/oswald.woff") format('woff'),
		url("../fonts/odwald.woff2") format('woff2');
}


/******************************************
-------------------------------------------
 			  Flat Icons 
-------------------------------------------
*******************************************/

@font-face {
  font-family: "Flaticon";
  src: url("../fonts/Flaticon.eot");
  src: url("../fonts/Flaticon.eot?#iefix") format("embedded-opentype"),
       url("../fonts/Flaticon.woff") format("woff"),
       url("../fonts/Flaticon.ttf") format("truetype"),
       url("../fonts/Flaticon.svg#Flaticon") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "Flaticon";
    src: url("./Flaticon.svg#Flaticon") format("svg");
  }
}

[class^="flaticon-"]:before, [class*=" flaticon-"]:before,
[class^="flaticon-"]:after, [class*=" flaticon-"]:after {   
  font-family: Flaticon;
  font-size: 1em;
  font-style: normal;
}

.flaticon-arrow:before { content: "\f100"; }
.flaticon-back:before { content: "\f101"; }
.flaticon-binoculars:before { content: "\f102"; }
.flaticon-binoculars-1:before { content: "\f103"; }
.flaticon-down-arrow:before { content: "\f104"; }
.flaticon-map:before { content: "\f105"; }
.flaticon-next:before { content: "\f106"; }
.flaticon-play-button:before { content: "\f107"; }
.flaticon-shield:before { content: "\f108"; }
.flaticon-shield-1:before { content: "\f109"; }
.flaticon-stopwatch:before { content: "\f10a"; }
.flaticon-target:before { content: "\f10b"; }
.flaticon-targeting:before { content: "\f10c"; }
.flaticon-up-arrow:before { content: "\f10d"; }
.flaticon-users:before { content: "\f10e"; }
.flaticon-war:before { content: "\f10f"; }

/******************************************
-------------------------------------------
 			     Home 
-------------------------------------------
*******************************************/

/* home page header */

#home-page-banner {
	background: url('../images/home-header-bckg.jpg');
	background-size:cover;
	position:relative;
	background-position:50% 40%;
	height:450px;
	overflow:hidden;
	text-align:center;
	display:flex;
	flex-flow:column nowrap;
	justify-content:center;
}

#home-banner-cover {
	position:absolute;
	background: rgba(0, 0, 0, 0.7);
	background:radial-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.5));
	height:100%;
	width:100%;
	top:0;
	left:0;
}

#home-banner-transition {
	position:absolute;
	height:100px;
	width:100%;
	z-index:1;
	bottom:0;
	background: linear-gradient(rgba(206, 186, 129, 0.4), rgba(206, 186, 129, 1));
}

#home-banner-search {
	max-width:800px;
	position:relative;
	margin-top:-100px;
}

#home-main-pic {
	width:100%;
}

#search-form {
	position:relative;
	text-align:center;
	width:65%;
	display:inline-block;
	margin-right:45px;
	border-radius:2px;
	background:black;
}

#search-input {
	width:100%;
	border-radius:2px;
	height:40px;
	line-height:40px;
	font-family:'oswald', serif;
	font-size:1.5em;
	letter-spacing:1px;
	padding-left:45px;
	-moz-transition:all 0.3s ease;
	-webkit-transition:all 0.3s ease;
	-o-transition:all 0.3s ease;
	-ms-transition:all 0.3s ease;
	transition: all 0.3s ease;
	border:none;
	outline:none;
}

#search-input:focus {
	box-shadow:0px 0 12px 4px rgba(186, 158, 75, 0.8);
}

#search-icon {
	background:#ceba7e;
	height:100%;
	position:absolute;
	left:-1px;
	top:0;
	width:40px;
	line-height:40px;
	font-size:1.8em;
	border-radius:2px 0 0 2px;
	cursor:pointer;
	-moz-transition:all 250ms ease-out;
	-webkit-transition:all 250ms ease-out;
	-o-transition:all 250ms ease-out;
	-ms-transition:all 250ms ease-out;
	transition:all 250ms ease-out;
}

#search-icon:hover {
	background:black;
	color:#ceba7e;
}

@media all and (max-width:450px) {
	#home-page-banner {
		height:300px;
	}
}

@media all and (max-width:400px) {
	#home-page-banner {
		height:250px;
	}
	#search-input {
		height:30px;
		font-size:1.1em;
		padding-left:35px;
		line-height:30px;
	}
	#search-icon {
		line-height:30px;
		width:30px;
		font-size:1.5em;
	}
	.theme-button {
		width:300px;
	}
}

/* game slideshow row */

.home-game-row {
	text-align:center;
	overflow:hidden;
	width:100%;
	height:300px;
	position:relative;
	border-radius:2px;
}

.home-game-row:first-child {
	margin-top:3px;
}

.slideshow-icon-div {
	position:absolute;
	height:100%;
	width:40px;
	top:0;
	color:black;
	cursor:pointer;
	z-index:1;
	-moz-transition: all 300ms ease-out;
	-webkit-transition: all 300ms ease-out;
	-o-transition:all 300ms ease-out;
	-ms-transition:all 300ms ease-out;
	transition:all 300ms ease-out;
	font-size:2em;
	z-index:10;
}

.slideshow-icon-div:hover {
	color:white;
}

.slide-right {
	right:0;
	border-radius:0 2px 2px 0;
}

.slide-left {
	left:0;
	border-radius:2px 0 0 2px;
}

.slideshow-flaticon {
	position:absolute;
	top:50%;
	left:50%;
	transform:translate(-50%, -50%);
}

/* home divs */

.home-card-overlay {
	position:absolute;
	height:100%;
	width:100%;
	top:0;
	left:0;
	background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.0), rgba(0, 0, 0, 0.0), rgba(0, 0, 0, 0.9));
	z-index:1;
	-moz-transition:all 0.4s ease;
	-webkit-transition:all 0.4s ease;
	-o-transition:all 0.4s ease;
	-ms-transition:all 0.4s ease;
	transition: all 0.4s ease;
}

.home-card-info {
	position:absolute;
	bottom:0;
	left:0;
	width:95%;
	z-index:2;
	padding:5px;
	border-radius:0 0 2px 2px;
}

.home-card-info p {
	text-align:left;
	overflow:hidden;
	white-space:nowrap;
	text-overflow:ellipsis;
	font-family: 'oswald', sans-serif;
	padding:2px 0;
}

.card-pic-holder {
	height:100%;
	width:100%;
	display:block;
}

.home-card-pic {
	position:absolute;
	bottom:0;
	left:0;
	width:100%;
	height:100%;
	object-fit:cover;
	object-position:50% 10%;
	border-radius:2px;
	-moz-transition:all 300ms ease-out;
	-webkit-transition:all 300ms ease-out;
	-o-transition:all 300ms ease-out;
	-ms-transition:all 300ms ease-out;
	transition:all 300ms ease-out;
}

.show-image-icon {
	font-size:1.3em;
	position:absolute;
	z-index:1;
	top:5px;
	right:5px;
	color:#ceba7e;
	opacity:0;
	-moz-transition: all 250ms ease-out;
	-webkit-transition:all 250ms ease-out;
	-o-transition:all 250ms ease-out;
	-ms-transition:all 250ms ease-out;
	transition:all 250ms ease-out;
}

.flex-hover:hover .show-image-icon {
	opacity:1;
}

.loading-svg {
	margin:125px;
}
/* game cards */

.game-card-holder {
	top:0;
	left:0;
	height:100%;
	width:100%;
	text-align:center;
	position:absolute;
	-moz-transition:all 300ms ease-out;
	-webkit-transition:all 300ms ease-out;
	-o-transition:all 300ms ease-out;
	-ms-transition:all 300ms ease-out;
	transition: all 300ms ease-out;
}

.game-card {
	margin:0 7px;
	width:235px;
	height:100%;
	border-radius:2px;
	position:relative;
	display:inline-block;
	overflow:hidden;
	color:white;
}

.game-card-info {
	height:60px;
}

.game-id {
	display:none;
}

.game-card-info p {
	width:190px;
	padding:2px 0;
}

.game-card-title {
	margin-top:10px;
	font-size:1.3em;
	position:relative;
	top:3px;
}

.game-card-genres {
	font-size:.9em;
}

.game-card-rating {
	height:40px;
	width:30px;
	position:absolute;
	bottom:5px;
	right:3px;
}

.game-card-hover {
	background: rgba(206, 186, 126, 0.7);
	background: radial-gradient(rgba(206, 186, 126, 0.8), rgba(206, 186, 126, 0.6), rgba(206, 186, 126, 0.4));
	position:absolute;
	height:100%;
	width:100%;
	opacity:0;
	z-index:5;
	-moz-transition:all 300ms ease-out;
	-webkit-transition:all 300ms ease-out;
	-o-transition:all 300ms ease-out;
	-ms-transition:all 300ms ease-out;
	transition: all 300ms ease-out;
	text-align:center;
	display:table;
	cursor:pointer;
	text-decoration:none;
}

.game-card-hover > span {
	font-size:1.8em;
	display:table-cell;
	vertical-align:middle;
	color:black;
}

.game-card-hover:hover {
	opacity:1;
}
/* news story flexbox */

.flex-wrapper {
	display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
	display:flex;
	-webkit-flex-flow: row wrap;
	flex-flow: row wrap;
}

.flex-item {
	flex: 1 100%;
	margin:0;
	position:relative;
	overflow:hidden;
}

.flex-item .home-card-overlay {
	background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.0), rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.9));
}

.top-flex {
	height:250px;
}

.middle-flex {
	height:375px;
}

.bottom-flex {
	height:250px;
}

.show-flex-main {
	height:250px;
}

.show-flex {
	height:400px;
	display:none;
}

#small-news-tiles {
	display:none;
}

.news-site-info {
	position:absolute;
	right:0;
	top:0;
	padding:6px;
	background:rgba(0, 0, 0, 0.9);
	color:#ceba7e;
	z-index:3;
	border-radius:0 2px 0 0;
}

.news-headline {
	width:85%;
	font-size:1.4em;
	text-decoration:none;
	color:white;
}

.news-headline:visited {
	color:white;
}

.flex-item:hover .news-headline {
	color:#ceba7e;
}

#news-container {
	position:relative;
}

#news-loader {
	position:absolute;
	top:50%;
	left:50%;
	transform:translate(-50%, -50%);
	z-index:100;
	height:100px;
	width:100px;
}

@media all and (min-width:800px) {

	.flex-wrapper {
		margin:10px 0;
	}

	.flex-main {
		flex: 2 0px;
	}

	.flex-sub-main {
		flex: 1 auto;
	}

	.flex-square {
		flex: 2 0px;
	}

	.flex-small {
		flex: 1 0px;
	}

	.top-flex {
		height:350px;
	}

	.middle-flex {
		height:250px;
	}

	.bottom-flex {
		height:175px;
	}

	.flex-item {
		margin:0 5px;
	}

	/* show page screenshots flex */

	.show-flex-main {
		height:450px;
	}

	.show-flex {
		height:350px;
	}
	#small-news-tiles {
		display:flex;
	}
}

/******************************************
-------------------------------------------
 			Home Animations
-------------------------------------------
*******************************************/

.animation-element {
	-moz-transition:all 600ms ease-out;
	-webkit-transition:all 600ms ease-out;
	-o-transition:all 600ms ease-out;
	-ms-transition:all 600ms ease-out;
	transition:all 600ms ease-out;
	-moz-transform: translate3d(0px, 120px, 0px);
	-webkit-transform: translate3d(0px, 120px, 0px);
	-o-transform: translate3d(0px, 120px, 0px);
	-ms-transform: translate3d(0px, 120px, 0px);
	transform: translate3d(0px, 120px, 0px);
	opacity:0;
}

.in-view {
	opacity:1;
	-moz-transform: translate3d(0px, 0px, 0px);
	-webkit-transform: translate3d(0px, 0px, 0px);
	-o-transform: translate3d(0px, 0px, 0px);
	-ms-transform: translate3d(0px, 0px, 0px);
	transform: translate3d(0px, 0px, 0px);
}

/******************************************
-------------------------------------------
 			  Home Search
-------------------------------------------
*******************************************/
#search-home-container {
	min-height:500px;
	text-align:center;
	display:none;
}
.search-loading-svg {
	width:75px;
	height:75px;
	margin:10px;
}
.search-game-card {
	margin:10px 10px;
	width:235px;
	height:300px;
	border-radius:2px;
	position:relative;
	display:inline-block;
	overflow:hidden;
	color:white;
}
#show-more {
	display:none;
}
#home-nav {
	bottom:0;
	right:0;
	height:60px;
	width:200px;
	background:black;
	position:fixed;
	border-radius:2px 0 0 0;
	line-height:60px;
	opacity:0;
	-moz-transition:all 250ms ease-out;
	-webkit-transition:all 250ms ease-out;
	-o-transition:all 250ms ease-out;
	-ms-transition:all 250ms ease-out;
	transition:all 250ms ease-out;
	border-top:2px solid #ceba7e;
	border-left:2px solid #ceba7e;
	z-index:100;
}
.home-nav-half {
	width:49.5%;
	height:100%;
	float:left;
	text-align:center;
	color:#ceba7e;
	-moz-transition:all 250ms ease-out;
	-webkit-transition:all 250ms ease-out;
	-o-transition:all 250ms ease-out;
	-ms-transition:all 250ms ease-out;
	transition:all 250ms ease-out;
	cursor:pointer;
}
.home-nav-half:first-child {
	border-right:2px solid #ceba7e;
	border-radius:2px 0 0 0;
}
.home-nav-half span {
	font-size:2em;
}
.home-nav-half:hover {
	background:#ceba7e;
	color:black;
}
@media all and (max-width:375px) {
	#home-nav {
		width:100%;
	}
}
/******************************************
-------------------------------------------
 			Show Page Quick Nav
-------------------------------------------
*******************************************/
.navbar {
	height:45px;
	line-height:45px;
	position:fixed;
	font-family: 'oswald', sans-serif;
	-moz-transition:all 250ms ease-out;
	-webkit-transition:all 250ms ease-out;
	-o-transition:all 250ms ease-out;
	-ms-transition:all 250ms ease-out;
	transition:all 250ms ease-out;
	display:none;
}

#main-navbar {
	top:-55px;
	right:0;
	width:415px;
	height:50px;
	z-index:9998;
	background:rgba(0, 0, 0, 0.7);
	background:linear-gradient(to top, rgba(0, 0, 0, 0.5), transparent);
	border-bottom:1px solid black;
}

#main-navbar span {
	vertical-align:top;
	font-size:1.7em;
}

#quick-navbar {
	top:0px;
	right:10px;
	z-index:9999;
	color:rgba(255, 255, 255, 0.5);
}

#quick-navbar > span {
	font-size:1.4em;
	letter-spacing:4px;
	padding:0 10px;
	cursor:pointer;
	vertical-align:middle;
}

#quick-navbar > span:hover {
	color:white !important;
	border-bottom:2px solid white !important;
}

#nav-cover-thumb {
	width:45px;
	height:100%;
	margin-right:5px;
	vertical-align:middle;
	border-radius:0 0 0 2px;
}
/******************************************
-------------------------------------------
 			Game Show Page
-------------------------------------------
*******************************************/

#show-header {
	width:100%;
	height:300px;
	position:relative;
}

.show-header-overlay {
	position:absolute;
	height:100%;
	width:100%;
	background:rgba(0, 0, 0, 0.6);
	background: linear-gradient(transparent, rgba(0, 0, 0, 0.8));
	z-index:1;
}

.show-column {
	display: block;
}

.show-header-info {
	position:relative;
	top:-175px;
	margin-bottom:-50px;
	z-index:2;
	overflow:hidden;
}

.info-in-header {
	display:none;
}
#show-game-date {
	font-size:1.5em;
}

.show-cover-holder {
	width:250px;
	margin:0 auto;
	min-height:200px;
}

.show-game-cover {
	min-height:175px;
	height:100%;
	width:100%;
}

.game-summary-text::first-letter {
	font-size:1.8em;
}

.game-summary-text {
	margin-top:30px;
	line-height:1.3em;
	padding:0 15px;
	color:rgba(0, 0, 0, 0.8);
}

#screenshot-wrappers {
	max-width:1300px;
	margin:0px auto;
}

.game-side-info div {
	font-family: 'oswald', sans-serif;
	margin:12px 0;
}

.game-genre {
	padding:5px 5px;
	background:black;
	color:#ceba7e;
	margin:2px 2px;
	border-radius:2px;
	display:inline-block;
}

@media all and (min-width:800px) {
	.show-column {
		display: table-cell;
	}
	.show-cover-holder {
		float:left;
		margin-right:15px;
	}
	#show-game-name {
		font-size:3.5em;
		padding-bottom:5px;
	}
	.info-in-header {
		display:block;
	}
	.info-in-header p {
		color:white;
		font-size:2em;
		margin-bottom:13px;
		padding:2px 0;
		white-space:nowrap;
		overflow:hidden;
		text-overflow:ellipsis;
		min-height:30px;
	}
	.info-in-header p:last-child {
		position:relative;
		top:8px;
		font-size:1.2em;
	}
	#extra-side-info {
		display:none;
	}
	.navbar {
		display:block;
	}
	.show-header-info {
		margin-bottom:-160px;
	}
}

/******************************************
-------------------------------------------
 			YouTube iFrame
-------------------------------------------
*******************************************/

#video-background {
	background: url('../images/home-header-bckg.jpg');
	background-size:cover;
	position:relative;
	background-position:50% 40%;
}

.video-container {
	max-width:1200px;
	height:250px;
	margin:0 auto;
	position:relative;
}

#yt-player {
	height:100%;
	width:100%;
}

#video-sidebar {
	width:100%;
	height:100px;
	background:black;
	overflow-x:auto;
	overflow-y:hidden;
	position:absolute;
	top:-100px;
	left:0;
	z-index:1;
}

#video-playlist {
	white-space:nowrap;
	height:100%;
}

.video-div {
	width:150px;
	height:100%;
	background:black;
	position:relative;
	cursor:pointer;
	color:white;
	display:inline-block;
}

.video-div:hover {
	color:#ceba7e !important;
}

.vid-playlist-arrow {
	display:none;
}

@media all and (min-width:800px) {
	.video-container {
		height:400px;
	}
	#yt-player {
		width:82%;
	}
	#video-background {
		padding:25px 0;
		overflow:hidden;
	}
	#video-sidebar {
		float:right;
		width:18%;
		height:100%;
		background:#ceba7e;
		overflow:hidden;
		position:relative;
		top:0;
	}
	#video-playlist {
		position:relative;
		-moz-transition:all 250ms ease-out;
		-webkit-transition:all 250ms ease-out;
		-o-transition:all 250ms ease-out;
		-ms-transition:all 250ms ease-out;
		transition:all 250ms ease-out;
		top:0;
	}
	.video-div {
		width:95%;
		height:100px;
		background:black;
		margin:5px;
		position:relative;
		cursor:pointer;
		color:white;
		display:block;
	}
	.vid-playlist-arrow {
		position:absolute;
		height:25px;
		width:100%;
		left:0;
		z-index:5;
		color:#ceba7e;
		background:rgba(0, 0, 0, 0.6);
		font-size:1.5em;
		cursor:pointer;
		-moz-transition:all 250ms ease-out;
		-webkit-transition:all 250ms ease-out;
		-o-transition:all 250ms ease-out;
		-ms-transition:all 250ms ease-out;
		transition:all 250ms ease-out;
		display:block;
	}

	.vid-playlist-arrow:hover {
		background:rgba(0, 0, 0, 0.8);
	}

	.playlist-top {
		top:0;
	}

	.playlist-bottom {
		bottom:0;
	}
}

@media all and (min-width:1000px) {
	.video-container {
		height:500px;
	}
}

@media all and (min-width:1200px) {
	.video-container {
		height:600px;
	}
}

/******************************************
-------------------------------------------
 			    Footer
-------------------------------------------
*******************************************/

#footer {
	margin-top:10px;
	padding:15px 0;
	width:100%;
	background:#0d0d0d;
	text-align:center;
	font-family: 'oswald', sans-serif;
	color:rgba(255, 255, 255, 0.9);
	letter-spacing:3px;
}

#footer div {
	margin:3px 0;
}

#footer p {
	font-size:.7em;
	color:rgba(255, 255, 255, 0.2);
}

#footer a {
	display:inline-block;
	margin:0 10px;
	font-size:1.2em;
	color:white;
	text-decoration:none;
}

#footer a:hover {
	color:#ceba7e;
}

#footer span {
	font-size:.9em;
	margin-right:3px;
	color:rgba(255, 255, 255, 0.8);
}

#footer-pic {
	width:300px;
	height:50px;
	margin:10px 0 0px 0;
}

@media all and (max-width:800px) {
	#footer a {
		font-size:1em;
		margin:0 5px;
	}
}

#error-page-header {
	text-align:center;
}

#error-page-header h3 {
	font-size:3.5em;
	padding:25px 0;
	margin:0;
}